<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="General">
		<setting id="wizzard_check" type="bool" label="Start wizzard the next run" default="true"/>
		<setting id="team-naming" type="enum" label="Team displayed name" values="Default|Alternative" default="0" />
		<setting id="enable-caching" type="bool" label="Enable caching to improve speed" default="true"/>
	</category>
	<category label="Home Menu">
		<setting label="Football" type="lsep" />
		<setting id="enable-football" type="bool" label="Enable Football" default="true"/>
		<setting id="football-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="football-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
		<setting label="Basketball" type="lsep" />
		<setting id="enable-basketball" type="bool" label="Enable Basketball" default="true"/>
		<setting id="basketball-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="basketball-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
		<setting label="Ice Hockey" type="lsep" />
		<setting id="enable-icehockey" type="bool" label="Enable Ice Hockey" default="true"/>
		<setting id="icehockey-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="icehockey-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
		<setting label="Baseball" type="lsep" />
		<setting id="enable-baseball" type="bool" label="Enable Baseball" default="true"/>
		<setting id="baseball-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="baseball-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
		<setting label="Motorsport" type="lsep" />
		<setting id="enable-motorsport" type="bool" label="Enable Motosport" default="true"/>
		<setting id="motorsport-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="motorsport-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
		<setting label="Rugby" type="lsep" />
		<setting id="enable-rugby" type="bool" label="Enable Rugby" default="true"/>
		<setting id="rugby-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="rugby-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
		<setting label="Golf" type="lsep" />
		<setting id="enable-golf" type="bool" label="Enable Golf" default="true"/>
		<setting id="golf-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="golf-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
		<setting label="American Football" type="lsep" />
		<setting id="enable-amfootball" type="bool" label="Enable American Football" default="true"/>
		<setting id="amfootball-background" type="enum" label="-Background type" values="Global Addon Fanart|Addon Custom Sport Fanart|Favourite team Fan Fanart|Favourite Team Logo Fanart|Custom Image" default="0" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
		<setting id="amfootball-custom" label="Custom Image" type="file" default="" enable="eq(-2,true)+eq(-1,4)" visible="eq(-2,true)+eq(-1,4)"/>
		
	</category>
	<category label="Calendar">
		<setting id="calendar-background-type" type="enum" label="Calendar background" values="Addon fanart|Custom" default="0" />
		<setting id="calendar-background-custom" label="Custom Image" type="file" default="" enable="eq(-1,1)" visible="eq(-1,1)"/>
		<setting id="calendar-disabledsports" type="bool" label="Hide disabled sports from calendar" default="true"/>
		<setting id="calendar-disabledleagues" type="bool" label="Hide ignored leagues from calendar" default="true"/>
	</category>
	<category label="Livescores">
		<setting id="livescores-disabledleagues" type="bool" label="Hide ignored leagues from livescores listing" default="true"/>
		<setting id="livescores-hidefinished" type="bool" label="Hide finished games from window" default="false"/>
		<setting id="livescores-hidenotstarted" type="bool" label="Hide games that have not started from window" default="false"/>
	</category>
	<setting id="username" type="text" default="" visible="false"/>
 	<setting id="view_type_leaguelist" type="text" default="" visible="false"/>
  	<setting id="view_type_league" type="text" default="" visible="false"/>
</settings>
